@using PagedList.Mvc;

@Styles.Render("~/Content/PagedList.css")


<ul class="pagination">
    @{
        bool isFirstPage = ViewBag.CurrentPage == 1;
        bool isLastPage = ViewBag.CurrentPage == ViewBag.MaxPages;
    }
    <li class="@(isFirstPage ? "disabled" : "")">
        <a href=@(isFirstPage ? "#" : "/News?page=1&count=5")>&laquo;</a>
    </li>

    @for (int i = 1; i <= ViewBag.MaxPages; i++)
    {
        <li class="@(ViewBag.CurrentPage == i ? "active": "")">
            @Html.ActionLink(i.ToString(), "News",  new { page = i, count = 3 })
        </li>
    }

    <li class="@(isLastPage ? "disabled" : "")">
        <a href=@(isLastPage ? "#" : "Home/News?page=" + ViewBag.MaxPages + "&count=5")>&raquo;</a>
    </li>
</ul>

